/** @format */
.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.7);
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 24px;
}
.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 7px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__avator--xl {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.user-component__avator--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 10px;
}
.user-component__title--not-bold {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}
